#header { background: url(images/DD_banner_large.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; border-bottom: solid #333 30px; }
.header-search .form-group { background: rgba(255, 255, 255, .2); border: solid 1px rgba(3, 27, 127, .3); }
#input-search { background: transparent; }
/* needs breakpoint to not apply to mobile */#mobile-nav-wrap { position: absolute; bottom: 0; }
/* mobile max-width: 835px */
.tagline h2, .tagline p { color: white; text-align:center; font-family: "montserratReg",Helvetica,Arial,Verdana,sans-serif; }
.tagline h2 { font-size: 1.3em; font-weight: bold; }
#mobile-nav-wrap { text-transform: uppercase; }
.header-nav a { color: lightgrey; }
.header-nav a:hover { color: white; }
.header-account a:hover { color: lightgrey; }
#input-search { color: white; }
body.home { background-position-y: 180px; }
@media screen and (min-width: 836px) { 
	#header { height: 312px; }
	.logged-in #header { height: 372px; }
	#header-wrap { height: 293px; }
	#mobile-nav-wrap { width: 100%; }
	.tagline { position: absolute; right: 0; }
	body.home { background-position-y: 280px; }
	
}
@media screen and (min-width: 1200px) {
	#header { height: 500px; }
	.logged-in #header { height: 560px; }
	#header-wrap { height: 420px; }
}
@media screen and (min-width: 1500px) {
	#header { height: 600px; }
	.logged-in #header ( height: 660px; }
	#header-wrap { height: 520px; }
}

body.home.who { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/background1b.jpg"); background-repeat: no-repeat; background-position-x: center; }
body.home.what { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/background2b.jpg"); background-repeat: no-repeat; background-position-x: center; }
body.home.who { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/background3b.jpg"); background-repeat: no-repeat; background-position-x: center; }
body.home.who { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/background4b.jpg"); background-repeat: no-repeat; background-position-x: center; }

#footer-callout {  }
footer-callout-img, #footer-callout .footer-callout-heading, a.footer-callout-btn { display: none; }
img#dd-people { position: absolute; right: 0; bottom: 0; }

