#header { background: url(images/DD_banner_large.jpg) no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; border-bottom: solid #333 42px; }

.header-logo img { max-height: none; }
h1.header-logo { height: 200px; width: 200px; }
img#storelogoimage { width: 200px; }
#store-logo { width: inherit; height: inherit; }
.tagline h2, .tagline p { color: white; text-align:center; font-family: "montserratReg",Helvetica,Arial,Verdana,sans-serif; }
.tagline h2 { font-size: 1.3em; font-weight: bold; }
#mobile-nav-wrap { text-transform: uppercase; }
.header-nav a { color: lightgrey; }
.header-nav a:hover { color: white; }
.header-nav .active > a { background-color: #1F1F1F; }
.header-account a:hover { color: lightgrey; }
#input-search { color: white; }
body.home { background-position-y: 180px; background-color: white; }
@media screen and (max-width: 835px) {
	h1.header-logo { margin: 0 auto; }
	#header { border-bottom: solid #333 8px; }
}
@media screen and (min-width: 836px) { 
	#header { height: 312px; }
	.logged-in #header { height: 372px; }
	#header-wrap { height: 287px; }
	#mobile-nav-wrap { position: absolute; bottom: 0; width: 100%; }
	.header-main-nav { top: 247px; z-index: 500; }
	.tagline { position: absolute; right: 0; font-size: 1.3em; top: 38px; }
	.header-search .form-group { background: rgba(255, 255, 255, .2); border: solid 1px rgba(3, 27, 127, .3); }
	#input-search { background: transparent; }
	body.home { background-position-y: 280px; }
	
}
@media screen and (min-width: 1200px) {
	.home #header { height: 500px; }
	.home .logged-in #header { height: 560px; }
	.home #header-wrap { height: 475px; }
	.home .tagline { top: 125px; }
	h1.header-logo { top: 30px; left: -70px; position: relative; }
	.home .header-main-nav { top: 435px; }
	body.home { background-position-y: 460px; }
}
/*@media screen and (min-width: 1500px) {
	#header { height: 600px; }
	.logged-in #header { height: 660px; }
	#header-wrap { height: 520px; }
	body.home { background-position-y: 560px; background-color: white; }
}*/

body.home.who { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/background4b.jpg"); background-repeat: no-repeat; background-position-x: center; }
body.home.what { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/background2b.jpg"); background-repeat: no-repeat; background-position-x: center; }
body.home.why { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/background3b.jpg"); background-repeat: no-repeat; background-position-x: center; }
body.home.how { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/background1b.jpg"); background-repeat: no-repeat; background-position-x: center; }
#how dl { counter-reset: order; }
#how dt { position: relative; padding-left: 30px; margin-top: 20px; text-transform: uppercase; font-size: 15px; color: rgb(9, 21, 19); letter-spacing: -.05em; }
#how dt:before { content: counter(order); counter-increment: order; position: absolute; top: -5px; left: 0; color: grey; font-size: 30px; }
#how dd { color: rgb(35, 39, 38); }

@media screen and (max-width: 744px) {
	img#dd-people { display: none; }
}
@media screen and (min-width: 745px) {
	.home .page-content-wrap { max-width: 440px; }
}
@media screen and (min-width: 836px) {
	.home .page-content-wrap { max-width: 530px; }
}
@media screen and (min-width: 960px) {
	.home .page-content-wrap { max-width: 630px; }
}

/* footer */
#quote-callout { margin-right: 10px; }
#upload-design-prompt { margin-top: 30px; }
.footer-callout-img, #footer-callout .footer-callout-heading, a.footer-callout-btn { display: none; }
img#dd-people { position: absolute; right: 0; bottom: 0; }
@media screen and (min-width: 751px) {
	#logos-block { width: 165px; float: right; margin-top: -310px; }
	#logos-block img { margin-bottom: 10px; position: relative; }
	#logos-block img:nth-child(2) { left: 25px; }
	#logos-block img:nth-child(3) { left: 32px; }
}
@media screen and (max-width: 750px) {
	#logos-block img { margin-left: 20px; }
}
#inksoft-trademark { display: none; }
.footer-links p { text-align: center; font-size: 1.3em; }
#copyright { float: none; width: 200px; margin: 0 auto; text-align: center; display: block; }
/* end footer */

h1, h2, h3, h4, h5, h6 { font-family: "montserratReg",Helvetica,Arial,Verdana,sans-serif; }
p, li { color: black; }
.home h1 { color: white; text-transform: uppercase; text-shadow: 1px 1px grey; margin-bottom: 5px; }
.home h2, .home h3, .home h4, .home h5, .home h6 { text-transform: uppercase; }
.content-block .tab p + h2, .content-block .tab p + h3, .content-block .tab p + h4, .content-block .tab p + h5, .content-block .tab p + h6, .content-block .tab ul + h2, .content-block .tab ul + h3, .content-block .tab ul + h4, .content-block .tab ul + h5, .content-block .tab ul + h6 { margin-top: 40px; }
.home .content-block li { margin-bottom: .5em; }
.home ul ul { margin-bottom: 0; }
.home .tab { background-color: rgba(255,255,255,.6); padding: 20px; }
.home .tab p, .home .tab li { font-family: arial; }
.page-content-wrap { padding: 20px 0; }
.page-header { padding-bottom: 0; }

/* product pages */
.item-user-options li:first-child { display: none; }
.item-user-options li { width: 100%; }
.item-user-options a { font-size: 1.5em; }

/* get a quote popup */
.product-category-thumb { display: none; }

/* design studio */
	/* upload button*/ 
	.isd-upload-image a { background-color: #649812 !important; color: white !important; }
	.isd-upload-image a:hover { background-color: #54810e !important; }
	.isd-flat-icons.fi-upload { background-image: url("https://webskillet.github.io/Deerfield_Designs/images/uploadicon.png"); background-repeat: no-repeat; background-position-x: center; background-position-y: center; }
